@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(360deg, #1B0909 9.36%, #3C0708 72.04%);
}

.swiper-pagination-bullet-active {
  background-color: rgba(255, 255, 255, 0.50) !important;
}

.cover {
  padding-left: 15px;
  padding-right: 15px;
}

.profile {
  width: 68px;
}

.modal-content {
  box-shadow: 0px 0px 27px #A51818;
  background: #820000 !important;
  border-radius: 5px;
}

.login {
  input {
    font-size: 14px;
    line-height: 21px;
    padding: 7px 12px;
    color: #FFC700;

  }
}

.referal {
  background-color: #460606;
}

.hongkong {
  background: linear-gradient(76.24deg, #C21617 -19.1%, #EF2726 117.22%);
}

.sydney {
  background: linear-gradient(76.24deg, #DE8807 -19.1%, #FBAA30 117.22%);
}

.ginting {
  background: #01D57C;
}

.pools {
  background: #EA9618;
}

.soka {
  background: linear-gradient(247.41deg, #A95FF2 -15.7%, #8B29EC 64.69%);
}

.nagaworld {
  background: linear-gradient(76.24deg, #090D6C -19.1%, #0D16B3 117.22%);
}

.singapore {
  background: linear-gradient(76.24deg, #004A8C -19.1%, #0292D8 117.22%);
}

.collapse-content {

  .collapse-wrapper {
    padding: 13px 15px;

    h2 {
      color: white;
      font-size: 18px;
      font-weight: semibold;
    }

    h1 {
      color: white;
      font-size: 25px;
      font-weight: 500;
      background-color: #2D2E33;
    }

    p {
      font-size: 12px;
    }

  }

  .info {
    padding: 4px 16px;
    background: linear-gradient(0deg, #480707 0%, #521010 100%);

    p {
      color: white;
      text-align: center;
      font-size: 12px;
      font-weight: lighter;
      margin-left: 6px;
    }
  }
}

.collapse {
  background: linear-gradient(0deg, #480707 0%, #521010 100%);

  .card-body {
    border-radius: 0px !important;
    background: linear-gradient(0deg, #480707 0%, #521010 100%);

    p {
      font-size: 12px;
      font-weight: lighter;
    }
  }
}

.collapse-promotion {
  background: #120000;

  .card-body {
    border-radius: 0px !important;
    background: #120000;

    h1 {
      font-size: 18px;
      font-weight: 600;
      border-bottom: 1px dashed white;
      margin: 0;
      padding-bottom: 5px;
    }

    p {
      font-size: 14px;
      font-weight: lighter;
      margin: 0;
      padding: 10px 0;
      text-align: justify;
      line-height: 21px;
    }

    h3 {
      font-size: 14px;
      font-weight: 600;
    }

    ul {
      padding-top: 2px;
      list-style-type: disc;
      padding-left: 20px;

      li {
        font-size: 14px;
      }
    }
  }
}

.daftar {
  input {
    font-size: 14px;
    line-height: 21px;
    padding: 7px 12px;
    color: #FFC700;

  }

  input::placeholder {
    color: #FFC700;
  }

  select {
    font-size: 14px;
    color: #FFC700;
    padding: 7px 12px;
    width: 100%;
    border: 1px solid white;
    background-color: transparent;

    option {
      background-color: #3C0708;
    }

    option:hover {
      background-color: yellow;
    }

  }

  .custome-select {
    width: 100%;
    position: relative;
  }

}

.title {
  color: white;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.tombol {
  background: linear-gradient(359.24deg, #FFC805 4.86%, #BA8501 48.16%, #FFD21F 51.6%, #FFFCA9 81.61%, #FFFEED 99.32%);
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
  padding: 5px 15px;
}



nav {
  .flex {
    button {
      padding: 0;
    }

    button:active {
      outline: none !important;
      border: none !important;
    }

    button:focus {
      outline: 0 !important;
      box-shadow: none !important;
    }
  }
}

nav {
  background-color: #121212;

  .signin {
    background: linear-gradient(359.24deg, #FFC805 4.86%, #BA8501 48.16%, #FFD21F 51.6%, #FFFCA9 81.61%, #FFFEED 99.32%);
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
    padding: 5px 15px;
  }

  ul {
    border-bottom: 0.1px solid rgb(53, 53, 53);
    padding: 0px;
    margin-bottom: 0px;

    li {
      img {
        width: 26px;
      }

      a {
        font-size: 14px;
        text-decoration: none;
      }
    }
  }

  .sub-title {
    font-size: 10px;
    padding: 10px;
    color: #B1B1B1;
  }
}


main {
  .grid {
    a {
      p {
        font-size: 14px;
      }
    }
  }
}

ul {
  li {
    a {
      p {
        font-weight: 200;
        font-size: 12px;
      }
    }
  }
}

.promotion {
  .collapse-promotion {
    background-color: green !important;
  }

  .show {
    background-color: green !important;
  }
}

.menu {
  position: sticky;
  bottom: 0;
  background: linear-gradient(228.89deg, #270101 14.85%, #000000 140.17%), #FFFFFF;
  box-shadow: 0px 4px 49px #060606;

  ul {
    li {
      top: -36px;

      .center {
        margin-top: -50px;

        .bg {
          margin-bottom: 4px;
          width: 58px;
          height: 58px;
          background: linear-gradient(359.24deg, #FFC805 4.86%, #BA8501 48.16%, #FFD21F 50.12%, #FFFCA9 81.61%, #FFFEED 99.32%);
          box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
        }
      }
    }
  }
}

.collapsing {
  background: transparent !important;
  transition: all 0.1s ease !important;
  border-radius: 0px;
  display: none !important;
}

// @media screen and (max-width: 450px) {
//   body {
//     margin: 0 auto;
//     background: linear-gradient(360deg, #1B0909 9.36%, #3C0708 72.04%);
//   }
// }


.panduan {
  p {
    font-size: 12px;
    text-align: justify;
  }

  ul {
    padding-left: 30px;
    list-style-type: disc;

  }
}

.link_akun:hover {
  color: white !important;
}

.link-akun-daftar:hover {
  color: gray;
}


#member {
  .credit {
    background-color: #F1F1F1;

    .item {
      p {
        font-size: 14px;
        margin-bottom: 0;
      }
    }

    .dotted {
      border-left: 1px dashed #B0B0B0;
      border-right: 1px dashed #B0B0B0;
    }
  }
}

#member .card {
  border-radius: 8px;
}


#member .list {
  .items {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    border-bottom: 1px solid #AEAEAE;
    color: #292929;
    display: flex;
    justify-content: space-between;

    img {
      padding: 0 5px;
    }
  }
}

#member .image-profile {
  left: calc(100% - 64%);
}

.text-red {
  color: #930D0D;
}

#info-dasar {

  .card-list {
    .items {
      border-bottom: 1px solid #AEAEAE;

      .left {
        font-size: 14px;

      }

      .right {
        p {
          font-size: 12px;
        }
      }
    }
  }
}

.credit .item p {
  font-size: 14px;
}